<%- include('header') -%>
<div class="row align-items-center">
            <div class="intro-txt col-lg-6 col-md-6">
                <h1 class="">Building powerful, user-focused software solutions with creativity and precision.</h1>
                <a href="https://wa.link/6kg35t" class="btn btn-primary btn-lg">Get in Touch</a>
            </div>
            <div class="col-lg-6 col-md-6">
              <img class="code-img" src="images\me.site\code (1).png">
            </div>
        </div>
        </div>
</section>

    <section class="container-fluid" id="services">
        <h3>What we Offer</h3>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="images\me.site\digital-marketing-1725340_640.jpg" class="card-img-top" alt="Blog 1">
                    <div class="card-body">
                        <h5 class="card-title">Software Development</h5>
                        <p class="card-text">Developments with user responsiveness and functionality in mind</p>
                        <a href="/services/seo" class="btn btn-outline-dark w-100">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="images\me.site\stock-1863880_640.jpg" class="card-img-top" alt="Blog 2">
                    <div class="card-body">
                        <h5 class="card-title">Forex Analysis</h5>
                        <p class="card-text">Like to get Trading Analysis and Signals?</p>
                        <a href="/services/forex-analysis" class="btn btn-outline-dark w-100">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <img src="images\me.site\startup-849804_640.jpg" class="card-img-top" alt="Blog 3">
                    <div class="card-body">
                        <h5 class="card-title">IT Consultancy</h5>
                        <p class="card-text">How does it feel getting Quality Insights?</p>
                        <a href="/services/it-consultancy" class="btn btn-outline-dark w-100">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer') -%>