<%- include('header') -%>
    <head>
        <title>What We Offer</title> 
    </head>
    <body>
      <section class="service-section">
        <div class="container">
          <h1 class="text-center"><%-service.title%></h1>
          <p><%-service.fullDescription%></p>
        </div>
      </section>
    </body>

<%- include('footer') -%>